.u-section-1 {
  background-image: url("images/introwisata.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-shape-1 {
  height: 340px;
  width: 224px;
  margin: 178px 402px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 198px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -277px 50px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: Raleway, sans-serif;
  margin: 35px 0 0 1px;
}

.u-section-1 .u-text-2 {
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-shape-1 {
    width: 259px;
    margin-right: 170px;
  }

  .u-section-1 .u-group-1 {
    width: 525px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-shape-1 {
    height: 436px;
    width: 228px;
    margin-right: auto;
    margin-left: 142px;
  }

  .u-section-1 .u-group-1 {
    min-height: 310px;
    width: 459px;
    margin-top: -373px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 28.73% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-shape-1 {
    height: 388px;
    width: 209px;
    margin-left: 56px;
  }

  .u-section-1 .u-group-1 {
    min-height: 125px;
    width: 324px;
    margin-top: 290px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 12px;
    font-family: "Open Sans", sans-serif;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,49,41,0.3), rgba(51,49,41,0.3)), url("images/gunung-merapi-4-kali-luncurkan-awan-panas-dan-guguran-lava.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  margin: 20px auto 0;
}

.u-section-2 .u-line-1 {
  width: 212px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 1px;
  margin: 41px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-text-2 {
    width: 673px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    background-position: 42.92% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 613px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 0 12px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 613px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  height: 237px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-3 .u-image-1 {
    height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 145px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 251px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-weight: 700;
  }

  .u-section-3 .u-image-1 {
    height: 154px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/5e0b3f39b6cf9.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 948px;
}

.u-section-4 .u-shape-1 {
  height: 788px;
  width: 231px;
  margin: 60px auto 0 378px;
}

.u-section-4 .u-group-1 {
  min-height: 380px;
  width: 460px;
  margin: -734px auto 0 39px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 70px 30px 45px;
}

.u-section-4 .u-image-1 {
  height: 320px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-2 {
  width: 598px;
  min-height: 481px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -190px 102px 123px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 41px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-4 .u-shape-1 {
    height: 808px;
    width: 278px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 500px;
    margin-top: -754px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 115px;
  }

  .u-section-4 .u-group-2 {
    width: 523px;
    min-height: 523px;
    margin-top: -210px;
    margin-right: 0;
    margin-bottom: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -751px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -17px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-4 .u-group-1 {
    width: 417px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .u-section-4 .u-group-2 {
    width: 334px;
    min-height: 602px;
    margin-top: -78px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-4 .u-shape-1 {
    width: 249px;
    margin-left: 31px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }

  .u-section-4 .u-image-1 {
    height: 237px;
  }

  .u-section-4 .u-group-2 {
    width: 280px;
    min-height: 668px;
    margin-top: -76px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/KEratontulisan.png");
  background-position: 50% 38.34%;
}

.u-section-5 .u-sheet-1 {
  min-height: 692px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-5 .u-image-1 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/KEratontulisan.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 586px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 0 169px 0 9px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 51px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 483px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 44px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 370px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 520px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 327px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    font-weight: 700;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Pantai-Parangtritis-Jogja.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-6 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/Pantai-Parangtritis-Jogja.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 33px auto 0 60px;
}

.u-section-6 .u-text-2 {
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 486px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-6 .u-image-1 {
    min-height: 558px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-6 .u-image-1 {
    min-height: 351px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url("np://user.desktop.nicepage.com/Site_86287036/images/prambanan.jpg?rand=13e9");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px 0 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 150px;
  margin: 22px auto 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 733px;
  pointer-events: auto;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-text-2 {
  margin: 0 38px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 295px;
    height: 148px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 289px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Kawah-Sikidang-Banjarnegara-Jawa-Tengah.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 710px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-8 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/Kawah-Sikidang-Banjarnegara-Jawa-Tengah.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  margin: 33px auto 0 60px;
}

.u-section-8 .u-text-2 {
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 486px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-8 .u-image-1 {
    min-height: 372px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-8 .u-image-1 {
    min-height: 558px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-8 .u-image-1 {
    min-height: 351px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 559px;
}

.u-section-9 .u-text-1 {
  font-size: 1rem;
  margin: 158px 0 40px 12px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
  }
}